
}
.eyes{
  position: absolute;
  
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  


}
.eye{
  width: 8.5vh;
  height: 8.5vh;
  background: #fff;
  display: inline-block;
  
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1.3vh solid grey;
  
}

.ball{
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 4px solid #333;
}

.eyes:hover
{
    cursor: default;
    
    transform: scale(1.2);
    
  
    transition: all 0.3s ease-in-out 0s;

}